<html>
    <body>
        {% for results in results_list %}
            <br>
            {% if options.compare_hour %}
            <table border="1">
                <tr>
                    <td>{{ results['title'] }}</td>
                    <td>Last Hour</td>
                    <td>Hour Before</td>
                    <td>Change</td>
                    <td>2 Hour Before</td>
                    <td>Change</td>
                </tr>
            {% else %}
            <table border="1">
                <tr>
                    <td>{{ results['title'] }}</td>
                    <td>Yesterday</td>
                    <td>Day Before</td>
                    <td>Change</td>
                    <td>Week Before</td>
                    <td>Change</td>
                </tr>
            {% end %}
            {% for key, count in results['results'] %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ count['yesterday'] }}</td>
                    <td>{{ count['day_before'] }}</td>
                    {% set percent = count['percent'] %}
                    <td>{% if percent > 130 or percent < 50 %}<b>{% end %}
                        {% if percent > 100 %}<font color='green'>{% end %}
                        {% if percent <= 100 %}<font color='red'>{% end %}
                        
                        {{ percent - 100 }}%
                        </font>
                        {% if percent > 130 or percent < 50 %}</b>{% end %}
                    </td>
                    <td>{{ count['week_before'] }}</td>
                    {% set percent = count['percent_week'] %}
                    
                    <td>{% if percent > 130 or percent < 50 %}<b>{% end %}
                        {% if percent > 100 %}<font color='green'>{% end %}
                        {% if percent <= 100 %}<font color='red'>{% end %}
                        
                        {{ percent - 100 }}%
                        </font>
                        {% if percent > 130 or percent < 50 %}</b>{% end %}
                    </td>
                </tr>
            {% end %}
            </table>
            <hr>
        <br>
    {% end %}
</body>
</html>